<table class="table align-middle table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">From</th>
      <th scope="col">Subject</th>
      <th scope="col">Body</th>
      <th scope="col">At</th>
    </tr>
  </thead>
  <tbody>
    {%  for message in messages %}
      {% if message.read %}
        {% set readed_bg, readed_fw = 'readed-tr-bg', '' %}
      {% else %}
        {% set readed_bg, readed_fw = '', 'fw-bold' %}
      {% endif %}
      <tr
        data-href="{{ url_for('message.show_message', message_id=message.id) }}"
        class="show-delete {{ readed_bg }}">
        <td class="col-1 {{ readed_fw }}">{{message.author.username}}</td>
        <td class="col-2 {{ readed_fw }}">
          {{ message.subject}}
        </td>

        <td class="col-7 {{ readed_fw }}">
          {% if message.body|length > 50 %}
            {{ message.body[:50] }}...
          {% else %}
            {{ message.body }}
          {% endif %}
        </td>
        <td class="d-flex justify-content-between align-items-center {{ readed_fw }}">{{message.received}}<a
            href="{{ url_for('message.js_delete', message_id=message.id) }}"
            class="btn btn-sm link-btn btn-font row_delete_link"><i
              class="fa-solid fa-trash-can"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>