<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">To</th>
      <th scope="col">Body</th>
      <th scope="col">At</th>
    </tr>
  </thead>
  <tbody>
    {%  for message in messages %}
      <tr data-href="{{ url_for('message.show_message', message_id=message.id) }}" class="show-delete">
        <td>{{message.recipient.username}}</td>

        <td>
          {% if message.body|length > 50 %}
            {{ message.body[:50]}}...
          {% else %}
            {{ message.body}}
          {% endif %}
        </td>
        <td>{{message.received}}<a href="{{ url_for('message.delete', message_id=message.id) }}" class="btn btn-sm link-btn ms-2 btn-font"><i
            class="fa-solid fa-trash-can"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
