<table class="">
  <tbody>
    {%  for message in messages %}
      <tr>
        {# TODO create a partial for sent and inbox #}
        <td>From: {{message.author.username}}<a href="{{ url_for('message.show_message', message_id=message.id) }}" class="row-link"></a></td>
        <td>To: {{message.recipient.username}}<a href="{{ url_for('message.show_message', message_id=message.id) }}" class="row-link"></a></td>

        <td>{{message.body[:100]}}<a href="{{ url_for('message.show_message', message_id=message.id) }}" tabindex="-1" class="row-link"></a></td>
        <td>{{message.received}}<a href="{{ url_for('message.show_message', message_id=message.id) }}" tabindex="-1" class="row-link"></a></td>

        {# TODO in inbox add bg-color if read #}
        <td>{{message.read}}<a href="{{ url_for('message.show_message', message_id=message.id) }}" tabindex="-1" class="row-link"></a></td>
        <a href="{{ url_for('message.show_message', message_id=message.id) }}"
        class="">Link</a>
      </tr>
      {% endfor %}
    </tbody>
  </table>


