{% extends 'base.html' %}

{% block header %}
  <link rel="stylesheet" href="{{ url_for('.static', filename='styles/message.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/tagger.css') }}">
{% endblock header %}

{% block navbar %}
  {% include '_navbar.html'%}
{% endblock navbar %}

{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <form id="send_message" method="POST">
      {{ form.csrf_token }}

      <dl>
        {% include 'common/_tagger.html' %}

        {{ render_field(form.recipients) }}


        {{ render_field(form.subject, class='form-control form-control-lg') }}
        {{ render_field(form.body, class='form-control form-control-lg', rows='5') }}
      </dl>

      <div class="pt-1 mb-4">
        {{ form.submit(class='btn auth-btn-bg btn-lg btn-block btn-font w-100') }}
      </div>
    </form>
{% endblock content %}

{% block customjs %}
  <script src="{{ url_for('.static', filename='js/message.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tagger.js') }}"></script>
{% endblock customjs %}

{% block footer %}
  {% include '_footer.html' %}
{% endblock footer %}