{% extends 'base.html' %}

{% block navbar %}
  {% include '_navbar.html'%}
{% endblock %}

{% block header %}
  <h1>Send Message</h1>
{% endblock %}

{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
      {{ form.csrf_token }}

      <dl>
        {{ render_field(form.email, class='form-control form-control-lg') }}
        {{ render_field(form.message, class='form-control form-control-lg', rows='5') }}
      </dl>

      <div class="pt-1 mb-4">
        {{ form.submit(class='btn auth-btn-bg btn-lg btn-block btn-font w-100') }}
      </div>
    </form>
{% endblock %}

{% block footer %}
  {% include '_footer.html' %}
{% endblock %}