{% extends 'base.html' %}



{% block navbar %}
  {% include '_navbar.html' %}
{% endblock navbar %}

{% block content %}
  <h1>{{ project.project_name }}</h1>

  <section id="project_team">
    <div>Owner</div>
    {% for owner in project.owner %}
      <div>{{ owner.username }}</div>
    {% endfor %}

    {% if project.collaborators %}
    <div>Collaborators</div>
      {% for collaborator in project.collaborators if collaborator != current_user %}
        <div>{{ collaborator.username }}</div>
      {% endfor %}
    {% else %}
      <div>You haven't invited any collaborators yet</div>
    {% endif %}


    {% if current_user in project.owner %}
      {% from "_formhelpers.html" import render_field %}
      <form id="add_collabs" method='POST'>
        {{ collab_form.csrf_token }}
        {{ render_field(collab_form.collabs) }}

        {% include 'common/_tagger.html' %}

        <div class="pt-1 mb-4">
          {{ collab_form.submit(class='btn btn-bg btn-font') }}
        </div>
      </form>
    {% endif %}
  </section>

  <section id="project_info">
    <div>Project</div>
    <ul>
      <li>{{ project.project_name }}</li>
      <li>{{ project.project_desc }}</li>
      <li>{{ project.created }}</li>
      <li>{{ project.updated }}</li>
    </ul>

    {% if current_user in project.owner %}
      <a href="{{ url_for('projects.edit_project', project_id=project.id)}}">Edit</a>
      <a href="{{ url_for('projects.delete_project', project_id=project.id)}}">Delete</a>
    {% endif %}
  </section>

  <section id="project_data">
    <div class="data_conainer d-flex">
      <ul id="{{ root.project.id }}" class="tree fa-ul">
        <div id="{{ root.id }}"class="folder_wrapper">
          <li class="folder">{{root.foldername}}</li>
          <ul class="folder_content fa-ul"></ul>
        </div>
      </ul>
      <div class="menu ps-3">
        <a href="" id="new_folder"><span class="badge rounded-pill auth-bg">New Folder</span></i></a>
        <a href="" id="rename_folder"><span class="badge rounded-pill auth-bg">Rename Folder</span></i></a>
        <a href="" id="delete_folder"><span class="badge rounded-pill auth-bg">Delete Folder</span></i></a>
      </div>
    </div>
    <a href="{{ url_for('projects.files', project_id=project.id, folder_id='folder_id')}}" id="files" hidden></a>
  </section>

  {% include 'common/_folder_modal.html' %}
{% endblock content %}

{% block customjs %}
  <script src="{{ url_for('static', filename='js/tagger.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/collabs.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/file_handler.js') }}"></script>
{% endblock customjs %}

{% block footer %}
  {% include '_footer.html' %}
{% endblock footer %}