<section id="right_content" class="col-9 shadow-sm">
  <div class="">
      <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam numquam qui
          odio fugiat adipisci dolor, voluptates, quam, in veniam optio aliquid et at
          accusantium rem voluptatem odit itaque aut facere.</p>
      </div>
      <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam numquam qui
          odio fugiat adipisci dolor, voluptates, quam, in veniam optio aliquid et at
          accusantium rem voluptatem odit itaque aut facere.</p>
      </div>
      <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam numquam qui
          odio fugiat adipisci dolor, voluptates, quam, in veniam optio aliquid et at
          accusantium rem voluptatem odit itaque aut facere.</p>
      </div>
      <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam numquam qui
          odio fugiat adipisci dolor, voluptates, quam, in veniam optio aliquid et at
          accusantium rem voluptatem odit itaque aut facere.</p>
      </div>
      <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam numquam qui
          odio fugiat adipisci dolor, voluptates, quam, in veniam optio aliquid et at
          accusantium rem voluptatem odit itaque aut facere.</p>
      </div>
      <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam numquam qui
          odio fugiat adipisci dolor, voluptates, quam, in veniam optio aliquid et at
          accusantium rem voluptatem odit itaque aut facere.</p>
      </div>
      <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam numquam qui
          odio fugiat adipisci dolor, voluptates, quam, in veniam optio aliquid et at
          accusantium rem voluptatem odit itaque aut facere.</p>
      </div>
      <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam numquam qui
          odio fugiat adipisci dolor, voluptates, quam, in veniam optio aliquid et at
          accusantium rem voluptatem odit itaque aut facere.</p>
      </div>
      <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam numquam qui
          odio fugiat adipisci dolor, voluptates, quam, in veniam optio aliquid et at
          accusantium rem voluptatem odit itaque aut facere.</p>
      </div>
      <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam numquam qui
          odio fugiat adipisci dolor, voluptates, quam, in veniam optio aliquid et at
          accusantium rem voluptatem odit itaque aut facere.</p>
      </div>
  </div>
</section>