<section id="left_content" class="col-3" >
    <div id="project_team" class="d-flex flex-column">
      <h2>{{ project.project_name|title }}</h2>
      <small class="sm-font">Created: {{ project.created }}</small>
      <small class="sm-font">Last update: {{ project.updated }}</small>

      <div>
        <div class="d-flex flex-column">
          <h4 class="mt-3">Owner</h4>
          <div class="ms-3 d-flex flex-column">
            {% for owner in project.owner %}
              <div>{{ owner.full_name }}</div>
            {% endfor %}
          </div>

          <div class="d-flex flex-column my-2">
            {% if project.collaborators %}
              <h4 class="mt-3">Collaborators</h4>
              <div class="ms-3 d-flex flex-column">
                {% for collaborator in project.collaborators %}
                  <div>{{ collaborator.full_name }}</div>
                {% endfor %}
              </div>
              {% else %}
                <small class="">You haven't invited any collaborators yet</small>
              {% endif %}
            </div>


          {% if current_user in project.owner %}
            {% from "_formhelpers.html" import render_field %}
            <form id="add_collabs" method='POST'>
              {{ collab_form.csrf_token }}
              {{ render_field(collab_form.collabs) }}

              {% include 'common/_tagger.html' %}

              <div class="pt-1 mb-4">
                {{ collab_form.submit(class='btn btn-bg btn-font') }}
              </div>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="current_folder"  project_id="{{ project.id }}" folder_id="{{ folder.id }}" parent_id="{{ folder.parent_id }}">
      <div class="d-flex flex-column align-items-center shadow-sm p-3">
        <small class="text-center">Current Folder</small>
        <div class="icon">
          <i class="fa-solid fa-folder fa-8x"></i>
        </div>
        <small id="current_folder_name" class="text-center pt-0 pb-2">{{ folder.name }}</small>
        <div class="btn-group btn-group-sm" role="group">
          <a id="new_folder" href="{{ folder.id }}" class="btn link-btn  btn-font"><i class="fa-solid fa-plus"></i></a>
          <a id="rename_folder" href="{{ folder.id }}" class="btn link-btn  btn-font"><i class="fa-solid fa-pen-to-square"></i></a>
          <a id="delete_folder" href="{{ folder.id }}" class="btn link-btn  btn-font"><i class="fa-solid fa-trash-can"></i></a>
        </div>
      </div>
    </div>
</section>