{% extends 'base.html' %}

{% block navbar %}
  {% include '_navbar.html'%}
{% endblock %}

{% block header %}
  <h1>New Project</h1>
{% endblock %}

{% block content %}
  <form method="POST" class="align-items-center">
    {{ form.csrf_token }}
    <h5 class="fw-normal mb-3 pb-3">
      Create New project
    </h5>

    <fieldset class="form-outline mb-4">
      {{ form.project_name(class= 'form-control form-control-lg', placeholder='Poject name') }}
      {% if form.project_name.errors %}
      <ul class="errors">
        {% for error in form.project_name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </fieldset>

    <fieldset class="form-outline mb-4">
      {{ form.project_desc(class='form-control form-control-lg', placeholder='Description') }}
      {% if form.project_desc.errors %}
      <ul class="errors">
        {% for error in form.project_desc.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </fieldset>

    <div class="pt-1 mb-4">
      {{ form.submit(class='btn auth-btn-bg btn-lg btn-block btn-font w-100') }}
    </div>
  </form>
{% endblock %}

{% block footer %}
  {% include '_footer.html' %}
{% endblock %}