{% extends 'base.html' %}

{% block navbar %}
  {% include '_navbar.html'%}
{% endblock %}

{% block content %}
  <section class="align-items-center">

    <h4 class="text-center fw-normal my-3 pb-3">
      Create New project
    </h4>

    {% from "_formhelpers.html" import render_field %}
    <form method=post>
      {{ form.csrf_token }}

      <dl>
        {{ render_field(form.project_name, class='form-control form-control-lg', placeholder='Poject name') }}
        {{ render_field(form.project_desc, class='form-control form-control-lg', placeholder='Description') }}
      </dl>

      <div class="pt-1 mb-4">
        {{ form.submit(class='btn auth-btn-bg btn-lg btn-block btn-font w-100') }}
      </div>
    </form>
  </section>
{% endblock %}

{% block footer %}
  {% include '_footer.html' %}
{% endblock %}