{% extends 'base.html' %}

{% block header %}
  <script type="text/javascript">
    axios.defaults.headers.common["X-CSRFToken"] = "{{ csrf_token() }}";
  </script>
{% endblock header %}

{% block navbar %}
  {% include '_navbar.html' %}
{% endblock navbar %}

{% block content %}
  <h1>{{ project.project_name }}</h1>
  <div>Collaborators</div>
  {% if project.collaborators %}
    {% for collaborator in project.collaborators %}
      <div>{{ collaborator.username }}</div>
    {% endfor %}
  {% else %}
    <div>You haven't invited any collaborators yet</div>
  {% endif %}
  <!-- <input type="email" id="collab">
  <a href="{# url_for('projects.edit', project_id=project.id)#}" id="add-collab">Invite
    collaborator</a>
  <div>
    <small class="errors"></small>
  </div> -->
  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    {{ form.csrf_token }}

    <dl>
      {{ render_field(form.subjects, class='add-collab') }}
    </dl>

    <div class="pt-1 mb-4">
      {{ form.submit(class='btn auth-btn-bg btn-lg btn-block btn-font w-100') }}
    </div>
  </form>


  <div>Project</div>
  <ul>
    <li>{{ project.project_name }}</li>
    <li>{{ project.project_desc }}</li>
    <li>{{ project.created }}</li>
    <li>{{ project.updated }}</li>
  </ul>

  <a href="{{ url_for('projects.edit_project', project_id=project.id)}}">Edit</a>
  <a href="{{ url_for('projects.delete_project', project_id=project.id)}}">Delete</a>
{% endblock content %}

{% block customjs %}
  <script src="{{ url_for('.static', filename='js/collaborators.js') }}"></script>
{% endblock customjs %}

{% block footer %}
  {% include '_footer.html' %}
{% endblock footer %}