{% extends 'base.html' %}

{% block customstyle %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript">
    axios.defaults.headers.common["X-CSRFToken"] = "{{ csrf_token() }}";
  </script>
{% endblock %}

{% block navbar %}
  {% include '_navbar.html'%}
{% endblock %}

{% block header %}
  <h1>{{ project.project_name }}</h1>
{% endblock %}

{% block content %}
  <div>Collaborators</div>
  {% if project.collaborators %}
    {% for collaborator in project.collaborators %}
      <div>{{ collaborator.username }}</div>
    {% endfor %}
  {% else %}
    <div>You haven't invited any collaborators yet</div>
  {% endif %}
  <input type="email" id="collab">
  <a href="{{ url_for('project.edit', project_id=project.id)}}" id="add-collab">Invite
    collaborator</a>
  <div>
    <small class="errors"></small>
  </div>


  <div>Project</div>
  <ul>
    <li>{{ project.project_name }}</li>
    <li>{{ project.project_desc }}</li>
    <li>{{ project.created }}</li>
    <li>{{ project.updated }}</li>
  </ul>

  <a href="{{ url_for('project.edit', project_id=project.id)}}">Edit</a>
  <a href="{{ url_for('project.delete', project_id=project.id)}}">Delete</a>
{% endblock %}

{% block customjs %}
  <script src="{{ url_for('.static', filename='js/collaborators.js') }}"></script>
{% endblock %}

{% block footer %}
  {% include '_footer.html' %}
{% endblock %}