{% extends 'base.html' %}

{% block title %}
 {{ title }}
{% endblock %}

{% block header %}
  <h1>{{ header }}</h1>
{% endblock %}

{% block content %}
<form method="POST">
  {{ form.csrf_token }}

  <fieldset class="">
    {{ form.firstname.label }}
    {{ form.firstname(placeholder='Jhon') }}
    {% if form.firstname.errors %}
      <ul class="">
        {% for error in form.firstname.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </fieldset>

  <fieldset class="">
    {{ form.lastname.label }}
    {{ form.lastname(placeholder='Doe') }}
    {% if form.lastname.errors %}
      <ul class="">
        {% for error in form.lastname.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </fieldset>

  <fieldset class="">
    {{ form.username.label }}
    {{ form.username(placeholder='Jhon') }}
    {% if form.username.errors %}
      <ul class="">
        {% for error in form.username.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </fieldset>

  <fieldset class="">
    {{ form.email.label }}
    {{ form.email(placeholder='youremail@example.es') }}
    {% if form.email.errors %}
      <ul class="errors">
        {% for error in form.email.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </fieldset>

  <fieldset class="">
    {{ form.password.label }}
    {{ form.password }}
    {% if form.password.errors %}
      <ul class="errors">
        {% for error in form.password.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </fieldset>

  <fieldset class="">
    {{ form.confirm.label }}
    {{ form.confirm }}
    {% if form.confirm.errors %}
      <ul class="errors">
        {% for error in form.confirm.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </fieldset>

  <div class="">
    {{ form.submit }}
  </div>

</form>

<div class="">
  <div>
    <span>You have an account?</span>
    <a href="{{ url_for('auth.login') }}">Log in.</a>
  </div>
</div>
</div>
{% endblock %}
