@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Open+Sans:wght@300;400;500;600&family=Raleway:wght@800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: #293241;
    line-height: 1.8;
    background-color: #f8f9fb;
}

.nav-container {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-inline: 4%;
}

.navbar {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    /* letter-spacing: .05em; */
}

.nav-item {
    font-weight: 400;
}

.nav-item-icon {
    transform: scale(1.6);
}

.nav-bg {
    background-color: #edf2f4 !important;
    /* background-color: #e7ecef; */
}

.dropdown-item {
    font-weight: 300;
    font-size: .8em;
}

hr {
  border-color: #293241 !important;;
}

#logo {
    width: 2em;
    border-radius: 50%;
}

.footer-container {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.surround-text {
    padding-inline: .4em;
    font-weight: 200;
}

.btn-bg:hover, .link-btn:hover {
    color: #ee6c4d !important;
}

.btn-bg, .link-btn {
    background-color: #3d5a80;
    color: white;
}

.link-btn, .link-btn:visited, .link-btn:active {
    color: white;
    text-decoration: none;
}

.btn-danger-bg:hover, .link-danger-btn:hover {
    color: #3d5a80 !important;
}

.btn-danger-bg, .linkdanger--btn {
    background-color: #ee6c4d;
    color: white;
}

.text-muted {
    color: #284b6a !important;
}

.message {
    margin: .2em;
}

.inbox-messages {
    padding: 0;
}

.auth-bg {
    background-color: #c4d7e2;
}

.btn-font {
    font-weight: 200 !important;
}

.errors {
    font-weight: 100;
    color: #e07a5f;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

a, a:visited, a:active {
    color: #3d405b;
    text-decoration: none;
}

::placeholder {
    font-weight: 100;
    font-size: .8em;
}

.icon-brick {
    transform: scale(1.5);
}

.icon-lg {
    transform: scale(1.9);
}

.form-control {
    font-weight: 200;
}

.card{
    /* box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25); */
    box-shadow: 0 0 5px 0 rgba(61, 90, 128, .25);
    border: .1em solid rgba(61, 90, 128, .25);
    border-radius: 1em;
}

.notification-bg {
    background-color: #ee6c4d;
}

.sm-font {
    font-size: 0.7em;
}

#right_content, #current_folder {
    background-color:#f7f7f7;
    border-radius: .4em;
    border: 1px solid #d8d7d7;
}

.icon {
    cursor: pointer;
}

.modal-content {
   background-color: #e7ebf3;
}

@media screen and (max-width: 920px) {
    html, body, main {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #left_content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center
    }

    #right_content {
        width: 100%;
        min-height: 50%;
    }

    #current_folder {
        margin-right: 5%;
    }

}

@media (max-width: 780px) {
    .icon {
        font-size: .8rem;
    }
}

tr > td:last-child > a {visibility:hidden;}
tr:hover > td:last-child > a {visibility:visible;}

.readed-tr-bg {
    background-color: #e9edf2;
}

input[type="file"] {
    display: none;
}
