<div class="modal fade" id="newFolderModal" tabindex="-1"
  aria-labelledby="newFolderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newFolderModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" id="folder_name" class="form-control" placeholder="Folder name">
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button> -->
        <button id="send_folder" type="button" class="btn auth-btn-bg btn-font">Add Folder</button>
      </div>
    </div>
  </div>
</div>