<div class="modal fade" id="FolderModal" tabindex="-1"
  aria-labelledby="FolderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="FolderModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" id="folder_name" class="form-control" placeholder="Folder name">
        <ul class="errors"><li id="modal_msg"></li></ul>
      </div>
      <div class="modal-footer">
        <button id="send_folder" type="button" class="btn btn-bg btn-font"></button>
      </div>
    </div>
  </div>
</div>