<div id="hidden_elements">{{ hidden_elements }}</div >
<div class="text-container">
  <input type="text" list="users_collabs" placeholder="Add email" />
  <datalist id="users_collabs">
    <option value="Objective C">Objective C</option>
    <option value="C++">C++</option>
    <option value="C#">C#</option>
    <option value="Cobol">Cobol</option>
    <option value="Go">Go</option>
    <option value="Java">Java</option>
    <option value="JavaScript">JavaScript</option>
    <option value="Python">Python</option>
    <option value="PHP">PHP</option>
    <option value="Pascal">Pascal</option>
    <option value="Perl">Perl</option>
    <option value="R">R</option>
    <option value="Swift">Swift</option>
  </datalist>
</div>