{% extends 'base_auth.html'%}

{% block form_for %}
  <h5 class="fw-normal mb-3 pb-3">
    Change your password
  </h5>

  <fieldset class="form-outline mb-4">
    {{ form.password(class='form-control form-control-lg', placeholder='Password') }}
    {% if form.password.errors %}
    <ul class="errors">
      {% for error in form.password.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </fieldset>

  <fieldset class="form-outline mb-4">
    {{ form.confirm(class='form-control form-control-lg', placeholder='Confirm password') }}
    {% if form.confirm.errors %}
    <ul class="errors">
      {% for error in form.confirm.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </fieldset>

  <div class="pt-1 mb-4">
    {{ form.submit(class='btn auth-btn-bg btn-lg btn-block btn-font w-100') }}
  </div>

  {% include '_back.html' %}
{% endblock %}