{% extends 'form_layout.html' %}

{% block form_for %}

  <h4 class="fw-normal mb-3 pb-3">
    Change your password
  </h4>

  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    {{ form.csrf_token }}

    <dl>
      {{ render_field(form.password, class='form-control form-control-lg', placeholder='Password') }}
      {{ render_field(form.confirm, class='form-control form-control-lg', placeholder='Confirm password') }}
    </dl>

    <div class="pt-1 mb-4">
      {{ form.submit(class='btn btn-bg btn-lg btn-block btn-font w-100') }}
    </div>
  </form>
{% endblock form_for %}