{% extends 'form_layout.html' %}

{% block form_for %}
  <p class="fw-normal mb-3 pb-3">
    Please enter your email address and we will send you a link to reset your password.
  </p>

  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    {{ form.csrf_token }}

    <dl>
      {{ render_field(form.email, class= 'form-control form-control-lg', placeholder='email@email.com') }}
    </dl>

    <div class="pt-1 mb-4">
      {{ form.submit(class='btn btn-bg btn-lg btn-block btn-font w-100') }}
    </div>
  </form>
{% endblock  form_for %}
