{% extends 'base_auth.html'%}

{% block form_for %}
  <h5 class="fw-normal mb-3 pb-3">
    Create your account
  </h5>

  <fieldset class="form-outline mb-4">
    {{ form.firstname(class= 'form-control form-control-lg', placeholder='First name') }}
    {% if form.firstname.errors %}
    <ul class="errors">
      {% for error in form.firstname.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </fieldset>

  <fieldset class="form-outline mb-4">
    {{ form.lastname(class= 'form-control form-control-lg', placeholder='Last name') }}
    {% if form.lastname.errors %}
    <ul class="errors">
      {% for error in form.lastname.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </fieldset>

  <fieldset class="form-outline mb-4">
    {{ form.username(class= 'form-control form-control-lg', placeholder='Username') }}
    {% if form.username.errors %}
    <ul class="errors">
      {% for error in form.username.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </fieldset>

  <fieldset class="form-outline mb-4">
    {{ form.email(class= 'form-control form-control-lg', placeholder='email@email.com') }}
    {% if form.email.errors %}
    <ul class="errors">
      {% for error in form.email.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </fieldset>

  <fieldset class="form-outline mb-4">
    {{ form.password(class='form-control form-control-lg', placeholder='Password') }}
    {% if form.password.errors %}
    <ul class="errors">
      {% for error in form.password.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </fieldset>

  <fieldset class="form-outline mb-4">
    {{ form.confirm(class='form-control form-control-lg', placeholder='Confirm password') }}
    {% if form.confirm.errors %}
    <ul class="errors">
      {% for error in form.confirm.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </fieldset>

  <div class="pt-1 mb-4">
    {{ form.submit(class='btn auth-btn-bg btn-lg btn-block w-100 btn-font') }}
  </div>

  <div class="mb-5 pb-lg-2">
    <span>You have an account? </span>
    <a href="{{ url_for('auth.login') }}">Log In.</a>
  </div>
{% endblock %}
